<ion-header >
  <ion-toolbar class="barra">
    <ion-img src="assets/logoduocuc.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo ion-text-center">
  <div class="centrado">
    <ion-img src="assets/111.svg"></ion-img>
    <br>
    <h1>Regístrate</h1>
    <!-- Usuario -->
    <ion-input shape="full" label="Nombre de Usuario" label-placement="floating" fill="outline" placeholder="Ingresa un nombre de usuario" [(ngModel)]="usuario"></ion-input>
    <br>
    <ion-input shape="full" label="Rut" label-placement="floating" fill="outline" placeholder="Ingresa tu rut"></ion-input>
    <br>
    <!-- Contraseña -->
    <ion-input shape="full" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa una contraseña" type="password" [(ngModel)]="contrasena"></ion-input>
    <br>
    <ion-input shape="full" label="Email" label-placement="floating" fill="outline" placeholder="Ingresa tu email" type="email"></ion-input>
    <br>

    <!-- Botón de registro -->
    <ion-button (click)="registro()" shape="round" class="fondo_boton ion-margin-top" >Registrarse</ion-button>
  </div>
  <a (click)="login()">¿Ya tienes una cuenta? Inicia sesión</a>


  <!--Alerta de credenciales invalidas-->
  <ion-alert
  [isOpen]="isAlertOpen"
  header="Información"
  message="Campos vacios"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)">
  </ion-alert>

</ion-content>
