<ion-header>
  <ion-toolbar class="fondo1" ><ion-img src="assets/logoduocuc.png"></ion-img> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar class="fondo ">
      <ion-title  class="fondo1">Bienvenido {{ usuario }}</ion-title>
    </ion-toolbar>
    <ion-img src="assets/img_principal.svg"></ion-img>
    <ion-button shape="round" class="fondo_boton">Generar codigo QR (proximamente)</ion-button>
    <ion-button (click)="retroceder()" shape="round"class="fondo_boton">Cerrar Sesion</ion-button>
  </ion-header>
</ion-content>
