<ion-header [translucent]="true">
  <ion-toolbar class="barra" ><ion-img src="assets/logoduocuc.png"></ion-img> 
  </ion-toolbar>
</ion-header>

  
<ion-content [fullscreen]="true" class="fondo ion-text-center">
  <div class="centrado">


    <ion-img src="assets/img_login.svg"></ion-img>
    <!-- Usuario -->
    <ion-input  shape="round" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar Usuario" [(ngModel)]="user"></ion-input>
    <br>
    <!-- Contraseña -->
    <ion-input shape="round" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresar contraseña"type="password" [(ngModel)]="password"></ion-input>
    <br>
    <ion-button (click)="navegar()" shape="round" class="fondo_boton ion-margin-top">Ingresar</ion-button>
    <br>

  </div>
  <a href="registro">¿No tienes cuenta? Registrate</a>

  <!--Alerta de credenciales invalidas-->
  <ion-alert
  [isOpen]="isAlertOpen"
  header="Información"
  message="Credenciales invalidas"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)">
  </ion-alert>
</ion-content>
