<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title >Duoc QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-img src="assets/img_login.svg"></ion-img>
  <ion-input  shape="round" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar Usuario"></ion-input>
    <ion-input shape="round" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresar contraseña"type="password"></ion-input>
    <ion-button shape="round" fill="outline" class="fondo_boton">Ingresar</ion-button>
</ion-content>
