<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="centrado">
    <ion-img src="assets/img2.svg"> </ion-img>


    <!-- Casilla de texto para usuario -->
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="mdl_usuario"></ion-input>
    </ion-item>

    <!-- Casilla de texto para Contraseña -->
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input label="Contraseña" type="password" labelPlacement="floating" [(ngModel)]="mdl_contrasena"></ion-input>
    </ion-item>
  
  <ion-button (click)="navegar()" class="boton barra ion-margin-top" expand="block"> Ingresar </ion-button>
  </div>

  <ion-alert
  [isOpen]="isAlertOpen"
  header="Información"
  message="Credenciales invalidas"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)">
  </ion-alert>
</ion-content>