/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.centrado {
    margin-top: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.centrar_boton{
    margin-left:140px;
}
.barra{
    --background: rgb(4,46,84);
    --background: linear-gradient(176deg, rgba(4,46,84,1) 0%, rgba(4,46,84,1) 90%);
    --color: #131212; 
}
.fondo{
    --background: rgb(242,184,5);
    --background: linear-gradient(190deg, rgba(242,184,5,1) 0%, rgba(152,23,147,1) 81%);
}
.fondo_boton{
    --background:#0c33df;
    color:#ffffff;
}
.ancho_boton{
    width: 80%;
}
.fondo1{
    background: rgb(4,46,84);
    background: linear-gradient(176deg, rgba(4,46,84,1) 0%, rgba(4,46,84,1) 90%);
}